<h3>{{titulo}}</h3>

<label>Pesquisar:</label>
<input type="text" [(ngModel)]="nomePesquisado">
<table *ngIf="listaProdutos.length > 0">
    <tr>
        <th>ID</th>
        <th>NOME</th>
        <th>MARCA</th>
        <th>PRECO</th>
        <th>VALIDADE</th>
        <th>AÇÃO</th>
    </tr>
    <tr *ngFor="let produto of listaProdutos | filtroPesquisa:nomePesquisado">
        <td>{{produto.id}}</td>
        <td>{{produto.nome}}</td>
        <td>{{produto.marca | uppercase}}</td>
        <td>{{produto.preco | moeda}}</td>
        <td>{{produto.validade | date: "dd/MM/yyyy"}}</td>
        <td><a routerLink='/edit/{{produto.id}}' >Editar</a></td>
        <td><a routerLink='/tabela' (click)="deletar(produto.id)">Deletar</a></td>
    </tr>
</table>
<p *ngIf="listaProdutos.length <= 0">NÃO HÁ PRODUTOS CADASTRADOS!</p>